
.clear-both {
  clear:both;
}

.ideatorrent-votewidget {
  width: 71px;
  background-color:#dddddd;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.ideatorrent-votewidget-votesum-display {
  text-align:center;
  padding-top:5px;
}

.ideatorrent-votewidget-votesum {
  font-size:22px;
}

.ideatorrent-votewidget-votesum-label {
  font-size:10px;
  line-height:100%;
}

.ideatorrent-votewidget-votearea {
  padding: 5px 5px 7px 5px;
}

.ideatorrent-votewidget-votearea-plus,
.ideatorrent-votewidget-votearea-equal,
.ideatorrent-votewidget-votearea-minus {
  float:left;
}


.ideatorrent-votewidget-votearea-plus-link,
.ideatorrent-votewidget-votearea-equal-link,
.ideatorrent-votewidget-votearea-minus-link {
  display:none;
}

.ideatorrent-votewidget-votearea-plus-link.ideatorrent-votewidget-link-unvoted,
.ideatorrent-votewidget-votearea-equal-link.ideatorrent-votewidget-link-unvoted,
.ideatorrent-votewidget-votearea-minus-link.ideatorrent-votewidget-link-unvoted,
.ideatorrent-votewidget-votearea-plus-link.ideatorrent-votewidget-link-voted-unhighlighted,
.ideatorrent-votewidget-votearea-equal-link.ideatorrent-votewidget-link-voted-unhighlighted,
.ideatorrent-votewidget-votearea-minus-link.ideatorrent-votewidget-link-voted-unhighlighted { 
  display:block;
  text-indent:-1999px;
  overflow:hidden;
}

.ideatorrent-votewidget-votearea-plus-nolink,
.ideatorrent-votewidget-votearea-equal-nolink,
.ideatorrent-votewidget-votearea-minus-nolink {
  display:none;
}

.ideatorrent-votewidget-votearea-plus-nolink.ideatorrent-votewidget-link-voted-highlighted,
.ideatorrent-votewidget-votearea-equal-nolink.ideatorrent-votewidget-link-voted-highlighted,
.ideatorrent-votewidget-votearea-minus-nolink.ideatorrent-votewidget-link-voted-highlighted {
  display:block;
  text-indent:-1999px;
  overflow:hidden;
}



.ideatorrent-votewidget-votearea-plus-link {
  width:21px;
  height:20px;
  background: transparent url(images/up.png) no-repeat;
  margin-right:2px;
}

.ideatorrent-votewidget-votearea-plus-arrow .ideatorrent-votewidget-link-voted-unhighlighted {
  background: transparent url(images/up0.png) no-repeat;
}

.ideatorrent-votewidget-votearea-plus-arrow .ideatorrent-votewidget-link-voted-highlighted {
  width:21px;
  height:20px;
  background: transparent url(images/up.png) no-repeat;
  margin-right:2px;
}





.ideatorrent-votewidget-votearea-equal-link {
  width:15px;
  height:15px;
  background: transparent url(images/equal.png) no-repeat;
  margin-right:2px;
  margin-top:3px;
}

.ideatorrent-votewidget-votearea-equal-arrow .ideatorrent-votewidget-link-voted-unhighlighted {
  background: transparent url(images/equal0.png) no-repeat;
}

.ideatorrent-votewidget-votearea-equal-arrow .ideatorrent-votewidget-link-voted-highlighted {
  width:15px;
  height:15px;
  background: transparent url(images/equal.png) no-repeat;
  margin-right:2px;
  margin-top:3px;
}




.ideatorrent-votewidget-votearea-minus-link {
  width:21px;
  height:20px;
  background: transparent url(images/down.png) no-repeat;
}

.ideatorrent-votewidget-votearea-minus-arrow .ideatorrent-votewidget-link-voted-unhighlighted {
  background: transparent url(images/down0.png) no-repeat;
}

.ideatorrent-votewidget-votearea-minus-arrow .ideatorrent-votewidget-link-voted-highlighted {
  width:21px;
  height:20px;
  background: transparent url(images/down.png) no-repeat;
}




